main {
    min-width: 540px;
    max-width: 1064px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #FFF;
}

h1 {
    position: relative;
    padding: 0 2.5rem;
    color: #333333;
    border-bottom: 6px double #333333;
}

h1:nth-child(n+2) {
    margin-top: 4rem;
}

h1::before,
h1::after {
    display: inline-block;
    position: absolute;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border: 2px solid #333333;
    background-color: #00000020;
    content: '';
}

h1::before {
    top: calc(50% - 5px);
    left: 0;
}

h1::after {
    top: calc(50% + 5px);
    left: 9px;
}

h2 {
    margin-top: 2rem;
    border-bottom: 2px solid #333333;
}

table.list {
    width: 100%;
    border-collapse: collapse;
}

table.list th {
    margin: 0 1rem;
    color: #fff;
    background-color: #333333;
    border: 2px solid #fff;
}

table.list td {
    border-bottom: 1px solid #333333;
    height: 3rem;
    padding: 0 .5rem;
}

table.list tr.expired td:nth-of-type(n+2) {
    color: #F33;
    text-decoration: line-through;
}

table.list tr:hover td {
    background-color: #efe;
    cursor: pointer;
}

table.list td:nth-of-type(1) {
    width: 4%;
    text-align: center;
}

table.list td:nth-of-type(2) {
    width: 40%;
    text-align: left;
}

table.list td:nth-of-type(3) {
    width: 12%;
    text-align: center;
}

table.list td:nth-of-type(4) {
    width: 20%;
    text-align: left;
}

table.list td:nth-of-type(5) {
    width: 12%;
    text-align: center;
}

table.list td:nth-of-type(6) {
    width: 12%;
    text-align: center;
}

a.page-link {
    font-size: 1.2rem;
    font-weight: bolder;
}

.qualification-info {
    display: flex;
    flex-wrap: wrap;
}

.qualification-info>span {
    display: inline-block;
    margin-top: .2rem;
    padding: .5rem 1rem;
    box-sizing: border-box;
}

.qualification-info>span:nth-of-type(2n+1) {
    width: 20%;
    color: #fff;
    background-color: #666666;
    font-weight: bold;
}

.qualification-info>span:nth-of-type(2n) {
    width: calc(80% - .2rem);
    margin-left: .2rem;
    background-color: #eeeeee;
}

.input-area {
    width: 60%;
    height: 8rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-area .password-wrap {
    width: 80%;
    height: 1.5rem;
    margin: 0 auto;
}

.input-area .password-wrap input {
    width: calc(100% - .5rem - 30px);
    margin-left: .5rem;
    padding: 0 1rem;
    font-size: 1.5rem;
    box-sizing: border-box;
    transition: 0.2s;
    border: none;
    border-bottom: 2px solid #bbb;
    background: transparent;
}
.input-area .password-wrap input:focus {
    border-bottom: 2px solid #000;
    outline: none;
}

.input-area .password-wrap input.error {
    border-bottom: 2px solid #ff3333;
}

.input-area .password-wrap label[for="password"] {
    margin-left: 30px;
    color: #ff3333;
}

.input-area button {
    width: 30%;
    height: 2rem;
    margin: 0 auto;
    color: #FFF;
    background-color: #333333;
    font-size: 1rem;
    border: none;
    border-radius: .2rem;
    transition: 0.2s;
}

.input-area button:disabled {
    background-color: #999999;
}

.input-area button:not(:disabled) {
    cursor: pointer;
}

.input-area button:not(:disabled):hover {
    background-color: #666666;
}
